body {
  text-align: center;
  background-color: #f2f9f8;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

h1 {
  color: #cf798e;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
form {
  margin: 10px;
}
h2 {
  margin: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
hr {
  background-color: rgba(0, 0, 0, 0.8);
}
span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
p {
  font-weight: 600;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0;
}
ul {
  text-align: center;
  margin-bottom: 0;
}
li {
  list-style: none;
  text-align: left;
}
input.button {
  color: #cf798e;
  background-color: #f2f9f8;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.8);
}

h3 {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 50px;
  margin-top: 80px;
}

.time {
  margin-top: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.description {
  margin-top: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
div.card {
  border: none;
}
.col-3 {
  padding: 0px;
}
.col-4 {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  margin-top: 10px;
}
.degrees {
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
}
.col-5 {
  font-size: 30px;
}
.col-7 {
  padding: 0px;
  margin-top: 10px;
}
.percentage {
  font-size: 15px;
}

.city {
  background-color: #f2f9f8;
  border-radius: 5px;
}
.temperature {
  background-color: #c5e6ef;
  border: 2px solid #cf798e;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.app {
  background-color: #c5e6ef;
  border: none;
  display: block;
  margin: 20px auto;
  max-width: 600px;
}
div.day {
  margin: 0 auto;
}
div.col-9 {
  padding: 10px 20px;
}

.code {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: 400;
}

.source-code {
  text-decoration: none;
}

.source-code:hover {
  text-decoration: underline;
}
#typed-city {
  margin: 0;
}
#celcius-link {
  text-decoration: none;
  color: #000;
}

#celcius-link:hover {
  text-decoration: underline;
  color: #cf798e;
}

#fahrenheit-link {
  text-decoration: none;
  color: #000;
}

#fahrenheit-link:hover {
  text-decoration: underline;
  color: #cf798e;
}
#wind,
#rain,
#humidity {
  font-size: 12px;
}
